.main-wrapper{
    background: url('./assets/h1_hero.png.webp');
    background-position: center;
    background-size: cover;
}
.sub-wrapper h1{
    font-size: 50px;
    line-height: 1.2;
}
.sub-wrapper p{
    color: #fff;
    font-size: 18px;
    margin-bottom: 34px;
}
.button-btn{
    background: #FF9F67;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
}
.button-btn:hover{
    background: #e77f43;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}


/* bg-custom-grade */
.bg-custom-grad{
    background: hsla(141, 54%, 86%, 1);

    background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    
}